pandas>=1.5.0
altair>=5.0.0
vl-convert-python>=1.6.0
streamlit>=1.24.0
openpyxl>=3.1.0
plotly>=5.15.0
geopandas>=0.13.0
shapely>=2.0.0
pyproj>=3.6.0
fiona>=1.9.0
requests>=2.31.0
matplotlib>=3.7.0
rapidfuzz>=3.0.0
rtree>=1.0.1